---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';

const metadata = {
  title: 'Adzstorm | Digital Marketing Agency – SEO, SEM & Advertising Services',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/adzstorm_homepage.png', alt: 'Adzstorm Home Image' }}
  >
    <Fragment slot="title">
      Boost Your Business, Grow Your Sales
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">in Adzstorm</span> We help your business thrive online by turning visitors into customers, Boost your sales effortlessly with our proven digital strategies.
</span>
 
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Adzstorm"
    subtitle="Cutting-edge digital marketing strategies tailored to grow your brand. From SEO to social media, we deliver results that drive real business impact."
    items={[
      {
        title: 'Creative Content & Branding',
        description:
          'Our team delivers scroll-stopping visuals, compelling copy, and brand storytelling that resonate and convert across all digital platforms.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Targeted Audience Reach',
        description:
          'Using advanced analytics and segmentation, we help you connect with the right audience at the right time across all digital channels.',
        icon: 'tabler:components',
      },
      {
        title: 'Omnichannel Presence',
        description:
          'From Google to Instagram, we ensure your brand message is consistent, compelling, and optimized across every platform your audience uses.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Custom Strategy & Execution',
        description:
          'No one-size-fits-all here. We design unique marketing strategies aligned with your goals—from SEO to PPC, email, and beyond.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->
</Layout>
